* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg,rgba(50, 205, 50, 0.78),rgba(135, 207, 235, 0.78));
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: .5rem;
    text-align: center;
    text-decoration: underline;
}
table {
    margin: .5rem;
}
th, td, p, input {
    font:14px Verdana;
}
table, th, td 
{
    border: solid 2px rgb(207, 207, 207);
    border-collapse: collapse;
    text-align: start;
    padding: 0 .3rem;
}
th {
    font-weight:bold;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 0, 0.5);
    text-transform: uppercase;
}
